*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.nav-1{
    /* background: #0082e6; */
    height: 80px;
    width: 100%;
}
.nav-1 img{
    margin-left: 60px;
}
.display-img img{
   font-size: 20px; 
   line-height: 80px;
   padding: 0 100px;
}
.nav-1 ul{
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
.nav-1 ul i{
    display: inline-block;
    line-height: 80px;
    margin-top: 20px;
    margin-right: 20px;
    
}


.nav-1 ul i a{
    color: rgb(63, 63, 63);
    font-size: 12px;    
    transition: 0.5s ease-in-out;
}
.nav-1 ul i a:hover{
    color: #28c9c1;
    cursor: pointer;
}
/* .nav-1 ul i a:hover{
    color: #28c9c1;
} */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    position: sticky;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.nav-2{
    background: #34A29C;
    margin-top: 60px;
    height: 60px;
    width: 100%;
    position: sticky;
}
.nav-2 ul{
    float: left;
    margin-top: 20px;
}
.nav-2 ul li{
    display: inline-block;
    line-height: 15px;
    margin: 0 5px;
}
.nav-2 ul li a{
    color: whitesmoke;
    font-weight: 600;
    /* padding: 10px;     */
}

.nav-2 ul li:hover a{
    color: #28c9c1;
}
.display-img img{
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
h1{
    color: #34A29C;
    font-weight: 600;   
    text-align: center;
    padding: 5px;
    
}
h2 {
    color: #34A29C;
}
h5{
    color: rgb(159, 219, 17);
}

span{
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #47ba81;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    padding: 2px;
}
span::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background: #8fd5b3;
    right: 18px;
    top: 4px;
}
span::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background: #8fd5b3;
    left: 18px;
    top: 4px;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    left: 65px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBx{
    position: relative;
    max-width: 260px;
    height: 260px;
    top: -50px;
    left: 7px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container.card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px ;
    text-align: center;
    color:#111 ;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #339f9a;
    font-weight: 600;
}
/* container 2 design*/
.container-2{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    left: 65px;
}
.container-2 .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #34a29c;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container-2 .card:hover{
    height: 200px;
}
.container-2 .card .imgBx{
    position: relative;
    max-width: 260px;
    height: 180px;
    top: -50px;
    z-index: 1;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
}
.container-2.card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container-2 .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px ;
    text-align: center;
    color:#fff ;
    font-size: 26px;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s ease-in-out;
    text-shadow: 0 5px 20px rgb(59, 59, 59);
}
.container-2 .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
img{
    max-width: 100%;
}

/* importent */
.news{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.news .first a img{
    width: 300px;
    height: 320px;
}
.news .first{
    position: relative;
    max-width: 340px;
    left: 80px;
    height: 500px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 30px rgba(59, 59, 59, 20%);
    transition: 0.5s ease-out;
}
.news .first:hover{
    box-shadow: 0 5px 30px rgba(59, 59, 59, 40%);
}

.first h4{
    color: orange;
    font-size: 25px;
}